<div class="container">

  <div class="page-header">
    <h1> <%= @project.name + ":" %> Manage Members</h1>
  </div>

  <ol class="breadcrumb">
    <li> <%= link_to "Projects", projects_path %> </li>
    <li> <%= link_to @project.name, project_path(params[:project_id]) %> </li>
    <li>Memberships</li>
  </ol>

  <div class = "row">
    <div class= "col-md-12">
      <% if @membership.errors.any? %>
        <div class = "alert alert-danger">
          <h3> <%= pluralize(@membership.errors.count, "error") %> prohibited this article from being saved:</h3>
          <ul>
            <% @membership.errors.full_messages.each do |msg| %>
              <li> <%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>


  <div class = 'form-inline'>
    <div class = 'form-group'>
      <div class = 'page-header'>
        <div class = 'well'>
          <%= form_for [@project, @membership] do |t| %>
            <%= t.collection_select(:user_id, User.all, :id, :full_name, {:prompt=> "Please select a user..."}, {class: 'form-control'}) %>
            <%= t.select(:role, [["member", 1], ["owner", 2]], {}, class: 'form-control') %>
            <%= t.submit 'Add New Member', class: 'btn btn-primary form-control' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% @memberships.each do |membership| %>
    <table class = 'form-group'>
    <%= form_for [@project, membership], html: {class: 'form-inline'} do |f| %>
      <div class = 'form-group'>
        <tr>
        <td class = 'col-md-3'><%= link_to membership.user.full_name, user_path(membership.user.id), class: 'title' %></td>
        <% if membership.role == "owner" %>
        <% member_array_value = [["owner", 1], ["member", 2]]  %>
        <% else %>
        <% member_array_value = [["member", 1], ["owner", 2]] %>
        <% end %>
        <td class = 'col-md-3'><%= f.select(:role, member_array_value, {}, class: 'form-control') %></td>
        <td class = 'col-md-2'><%= f.submit 'Update', class: 'btn btn-primary' %></td>
        <td class = 'col-md-1'><%= link_to "", project_membership_path(@project, membership), method: :delete, class: "glyphicon glyphicon-remove" %></td>
        </tr>
      </div>
    <% end %>
  </table>
  <% end %>
</div>
