
<div class="container">
  <div class="page-header">
    <div class="pull-right">
      <%= "(showing first 500)" %>
    </div>
    <div>
      <h1> <%= "Stories for #{@tracker_project_name}" %></h1>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><h4>Story</h4></th><th></th><th><h4>Estimate</h4></th><th><h4>Labels</h4></th><th><h4>Current State</h4></th>
      </tr>
    </thead>
    <tbody>
      <% @stories[0..499].each do |story| %>
      <% @label_name = []  %>
        <tr>
          <td><%= link_to story[:name], "https://www.pivotaltracker.com/story/show/#{story[:id]}" %></td>
          <td></td>
          <td><%= story[:estimate] %></td>
          <% story[:labels].each do |label| %>
          <% @label_name << label[:name] %>
          <% end %>
          <td><%= "#{@label_name[0]}, #{@label_name[1]}" %></td>
          <td><%= story[:current_state] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
