<ol class="breadcrumb">
  <li><%= link_to "Tasks", tasks_path %></li>
  <% if name_of_view == "new" %>
    <li>New Task</li>
  <% elsif name_of_view == "edit" %>
    <li><%= link_to @task.description, task_path %> </li>
    <li>Edit</li>
  <% else %>
    <li><%= @task.description %></li>
  <% end %>
</ol>


  <%= render partial: "shared/errors", locals: {function: @task} %>

<%= form_for @task do |t| %>
  <div class = "form-horizontal">
  <% if name_of_view == "show" %>
  <div class = "form-group">
    <%= t.label :due_date, :class => "col-md-1 control-label" %>
    <div class="col-md-2">
      <div class="form-control-static">
        <% if @task.due_date.class != NilClass %>
          <%= @task.due_date.strftime("%m/%d/%Y") %>
        <% else %>
        <% end %>
      </div>
    </div>
  </div>

  <% else %>


  <div class = "form-group">
    <%= t.label :description, :class => "col-md-1 control-label" %>
    <div class="col-md-10">
      <%= t.text_field :description, size: 80, :class => "form-control" %>
    </div>
  </div>

  <div class = "form-group">
    <%= t.label :due_date, :class => "col-md-1 control-label" %>
    <div class="col-md-2">
      <%= t.date_field :due_date, :class => "form-control"  %>
    </div>
  </div>

  <% if name_of_view == "new" %>
  <% else %>
  <div class = "form-group">
    <div class="col-md-offset-1 col-md-10">
      <%= t.check_box(:checkbox) %>
      <%= t.label(:checkbox, "Complete") %>
    </div>
  </div>
  <% end %>

  <div class = "form-group">
    <div class="col-md-offset-1 col-md-10">
      <%= t.submit :class=> "btn btn-info" %> <%= "   " %><%= link_to "Cancel", tasks_path, :class=> "btn btn-default" %>
    </div>
  </div>
  <% end %>
  </div>
<% end %>
