<div class="container">


  <div class="page-header">

  </div>
  <div class="row">
    <div class = "col-md-4">
      <% task = @task %>
        <p>
        </p>
        <%= @task.description %>
        <u><%= link_to "Show", task_path(task[:id]) %></u>
        <u><%= link_to "Edit", edit_task_path(task[:id]) %></u>
        <u><%= link_to "Destroy", task_path(task[:id]) %></u>
        <p>
        </p>
    </div>
  </div>
  <div class="row">
    <div class = "col-md-4">
      <u><%= link_to "Edit", edit_task_path(task[:id]) %></u>
      <u><%= link_to "Back", tasks_path %></u>
    </div>
  </div>
</div>
