<div class="container">

  <% if name_of_view == "new" %>
    <h1 class="page-header">New Project</h1>
  <% elsif name_of_view == "edit" %>
    <h1 class = "page-header">Edit Project</h1>
  <% elsif name_of_view == "show" %>
    <h1 class= "page-header">
      <%= @project.name %>
      <% if @role == "1" %>
        <div class="pull-right">
          <%= link_to "Edit", edit_project_path(params[:id]), :class=> "btn btn-primary" %>
        </div>
      <% end %>
    </h1>
  <% end %>

  <ol class="breadcrumb">
    <li> <%= link_to "Projects", projects_path %> </li>
    <% if name_of_view == "new" %>
      <li>New Project</li>
    <% elsif name_of_view == "edit" %>
      <li> <%= link_to @project.name, project_path %> </li>
      <li>Edit</li>
    <% else %>
      <li> <%= @project.name %> </li>
    <% end %>
  </ol>

    <% if name_of_view != "show" %>
  <%= form_for @project do |t| %>
      <div class = "form-horizontal">
        <%= render partial: "shared/errors", locals: {function: @project} %>
        <div class = "form-group">
          <%= t.label :name, :class => "col-md-2 control-label" %>
          <div class="col-md-8">
          <%= t.text_field :name, class: "form-control" %>
          </div>
        </div>
        <div class = "form-group">
          <div class = "col-md-offset-2 col-md-6">
            <%= t.submit :class=> "btn btn-primary" %> <%= "   " %> <%= link_to "Cancel",  projects_path, :class=> "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
    <% else %>
      <div class = "row">
        <div class = "form-group col-md-8">
          <%= link_to "#{pluralize(@project.tasks.count, 'Task')}", project_tasks_path(@project) %>
        </div>
        <div class = "form-group col-md-8">
          <%= link_to "#{pluralize(@project.memberships.count, 'Membership')}", project_memberships_path(@project) %>
        </div>
      </div>
      <% if @role == "1" %>
      <div class = "well">
        <div class = "row col-md-12">
          <h4>Delete</h4>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= "Deleting this project will also delete #{pluralize(@project.memberships.count, 'membership')}, #{pluralize(@project.tasks.count, 'task')}, and associated comments." %>
          </div>
        </div>
        <p></p>
        <div class="row">
          <div class=" col-md-12">
            <%= link_to "Delete", project_path(params[:id]), method: :delete, :data => {:confirm => 'Are you sure?'}, :class=> "btn btn-danger"%>
          </div>
        </div>
      </div>
      <% end %>
  <% end %>
</div>
