<!DOCTYPE html>
<html>
  <head>
    <title>Gcamp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <a class="navbar-brand" href="#">gCamp</a>
        <ul class = "nav navbar-nav navbar-right ">
            <% if current_user %>
            <li><%= link_to "#{current_user.first_name + ' ' + current_user.last_name}", user_path(current_user[:id]), class: "navbar-link" %></li>
              <li><%= link_to "Sign Out", signout_path, class: "navbar-link" %></li>
            <% else %>
            <li><%= link_to "Sign Up", signup_path, class: "navbar-link" %></li>
              <li><%= link_to "Sign In", signin_path, class: "navbar-link" %></li>
            <% end %>
        </ul>
      </div>
    </div>

    <div class="container">
    <% if alert && notice %>
    <% elsif notice %>
      <p class="alert alert-success", style = "font-weight: bold"><%= notice %></p>
    <% elsif alert %>
      <p class="alert alert-danger", style = "font-weight: bold"><%= alert %></p>
    <% end %>
    </div>
  <%= yield %>
    <footer class="container">
      <div class="page-header, footer_margin">
      </div>
      <div>
        <%= link_to "Terms","/terms" %>
        <%= "|" %>
        <%= link_to "About","/about" %>
        <%= "|" %>
        <%= link_to "FAQ","/faq" %>
        <%= "|" %>
        <% if current_user %>
        <%= link_to "Users","/users" %>
        <%= "|" %>
        <%=link_to "Projects","/projects" %>
        <% end %>

        <p class ="navbar-right">
          <a href="http://www.linkedin.com/pub/david-abramowitz/3/703/175";>
            <%= image_tag("linked_in.jpg", :alt => "linked_in feed", :class => 'image_footer_link_size') %>
          </a>
          <a href="https://github.com/XESLLC";>
            <%= image_tag("GitHub.png", :alt => "GitHub feed", :class => 'image_footer_link_size') %>
          </a>
          <a href="https://twitter.com/XESLLC";>
            <%= image_tag("Twitter.png", :alt => "Twitter feed", :class => 'image_footer_link_size') %>
          </a>
          <a href="https://students.gschool.it/students/278";>
            <%= image_tag("galvanize-g.png", :alt => "galvanize-g feed", :class => 'image_footer_link_size') %>
          </a>
        </p>
      </div>
    </footer>
  </body>
</html>
