<!DOCTYPE html>
<html>
  <head>
    <title>Gcamp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <ul class= "nav navbar-nav">
          <a class="navbar-brand" href="/projects">gCamp</a>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <% current_user.projects.each do |project|%>
                  <li><%= link_to project.name, project_path(project.id) %></li>
                  <li class="divider"></li>
                <% end %>
                  <li><%= link_to "New Project", new_project_path %></li>
              </ul>
          </li>
          <li><%= link_to "Users", users_path, class: "navbar-link" %></a></li>
        </ul>

           <ul class = "nav navbar-nav navbar-right ">
            <% if current_user %>
            <li><%= link_to "#{current_user.first_name + ' ' + current_user.last_name}", user_path(current_user[:id]), class: "navbar-link" %></li>
              <li><%= link_to "Sign Out", signout_path, class: "navbar-link" %></li>
            <% else %>
            <li><%= link_to "Sign Up", signup_path, class: "navbar-link" %></li>
              <li><%= link_to "Sign In", signin_path, class: "navbar-link" %></li>
            <% end %>
        </ul>
      </div>
    </div>

    <div class="container">
    <% if alert && notice %>
    <% elsif notice %>
      <p class="alert alert-success", style = "font-weight: bold"><%= notice %></p>
    <% elsif alert %>
      <p class="alert alert-danger", style = "font-weight: bold"><%= alert %></p>
    <% end %>
    </div>
  <%= yield %>
    <footer class="container">
      <div class="page-header, footer_margin">
      </div>
      <span class = "col-md-offset-5">
        <%= link_to "Home","/" %>
        <%= "|" %>
        <%= link_to "Terms","/terms" %>
        <%= "|" %>
        <%= link_to "About","/about" %>
        <%= "|" %>
        <%= link_to "FAQ","/faq" %>
      </span>
    </footer>
  </body>
</html>
